
.Dark1{
    background-color: cornflowerblue;
    color: black;
}
.Dark2{
    background-color: cornsilk;
    color: black;
}
.navbar{
    position: fixed;
    width: 100vw;
    z-index: 2;
}
.main-body{
    position:relative;
    top: 130px;
}
.card{
    position: relative;
    width:98%;
    height: 250px;
    display: flex;
    flex-direction: row;
}
.card-img-top{
    height: 100%;
    width: 30%;
}
.bgred{
    color: red;
}
.pop-box{
    border-radius: 1rem;
    width: 95%;
}
.popular{
    border-bottom: 2px solid white;
}
.popularheading{
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}
.headingsect{
    border-bottom: 2px solid white;
}
.outer{
    display: flex;
    flex-direction: row;
}
.showimage{
    height: 17rem;
    width: 80%;
}
.pop-image{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.signuphead{
    border-bottom: 2px solid white;
}
.form{
    border-radius: 2%;
    box-shadow: 5px 5px 10px black;
}
.shadow{
    box-shadow: 5px 5px 10px black !important;
}
.accphoto{
    height: 20rem;
    border-radius: 2rem;
}